---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import PageRouter from "../components/PageRouter.svelte";
import AuthGate from "../components/AuthGate.svelte";
---

<!--
  GitHub Pages serves this for any unknown path.
  PageRouter determines the correct component based on the URL.
-->
<Layout title="Design Drops">
  <Header client:load />
  <main>
    <AuthGate client:load>
      <PageRouter client:load />
    </AuthGate>
  </main>
</Layout>
