---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Feed from "../components/Feed.svelte";
import PostComposer from "../components/PostComposer.svelte";
import AuthGate from "../components/AuthGate.svelte";
---

<Layout title="Design Drops">
  <Header client:load />
  <main>
    <AuthGate client:load>
      <Feed client:load />
    </AuthGate>
  </main>
  <div class="fixed bottom-8 right-8 z-40">
    <PostComposer client:load />
  </div>
</Layout>
