---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Feed from "../components/Feed.svelte";
import AuthGate from "../components/AuthGate.svelte";
---

<Layout title="Design Drops">
  <Header client:load />
  <main>
    <AuthGate client:load>
      <Feed client:load />
    </AuthGate>
  </main>
</Layout>
